Home.css

body, html {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* background-color: #f7f9fc; */
  background-color: #090040; 
  color: #333;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-card {
  background: #471396;
  padding: 3rem 4rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(252, 243, 243, 0.08);
  text-align: center;
  max-width: 400px;
  width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFCC00;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: #3b82f6;
  color:aquamarine;
  margin-bottom: 2rem;
}

/* .logout-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
} */

.logout-btn:hover {
  /* background-color: #2563eb; */
  transform: scale(1.03);
}

.logout-btn:active {
  transform: scale(0.98);
}

.Toastify__toast-container {
  font-size: 0.9rem;
}
